body {
  padding: 0.5em 2em;
  background-color: #afbfdf !important;
}

h1 {
  font-size: 2em;
  color: #ffd556 !important;
  text-shadow:
		-1px -1px 0 #999,
		1px -1px 0 #999,
		-1px 1px 0 #999,
		1px 1px 0 #999;
  letter-spacing: 0.5rem;
}
h1 > span {
  opacity: 0.8;
}

div#login-warning {
  font-size: 1em;
  color: #ffd556 !important;
  text-shadow:
    -1px -1px 0 #999,
    1px -1px 0 #999,
    -1px 1px 0 #999,
    1px 1px 0 #999;
  text-align: center;
  padding: 5em 1em;
  letter-spacing: 0.4rem;
}

div#login-container {

}

div#ease-container .requiredStyle {
  border-color: red;
	border-style: solid;
	border-width: 1px;
}

div#ease-container input[type=button]{
  margin: 1.5em 0;
}

div.messages > .message.uiErrorMessage {
  color: red;
}


.screenshot {
  width: 320px;
  border: solid 1px #666;
  position: fixed;
  top: 60px;
  right: 10px;
}

.component {
  clear: both;
  padding: 2em 1em;
}

.strike {
    display: block;
    text-align: center;
    overflow: hidden;
    white-space: nowrap;
    padding: 0;
}

.strike > span {
    position: relative;
    display: inline-block;
}

.strike > span:before,
.strike > span:after {
    content: "";
    position: absolute;
    top: 50%;
    width: 9999px;
    height: 1px;
    background: #888;
}

.strike > span:before {
    right: 100%;
    margin-right: 15px;
}

.strike > span:after {
    left: 100%;
    margin-left: 15px;
}


img.logo {
  width: 64px;
  height: 64px;
}

.logo-spinning {
    margin: 0;
    -webkit-animation:spin 2s linear infinite;
    -moz-animation:spin 2s linear infinite;
    animation:spin 2s linear infinite;
}
@-moz-keyframes spin { 100% { -moz-transform: rotate(360deg); } }
@-webkit-keyframes spin { 100% { -webkit-transform: rotate(360deg); } }
@keyframes spin { 100% { -webkit-transform: rotate(360deg); transform:rotate(360deg); } }
